.empty {
    max-height: 0;
}
.profile-img {
    z-index: 100;
    margin-top: 4rem;
    width: 12rem;
    border-radius: 50%;
    justify-self: center;
    align-self: center;

}
.profile-name {
    align-self: end;
}
.job-title {
    align-self: start;
    span {
        justify-self: end;
        font-size: small;;
    }
    h2 {
        border-bottom: none;
        margin-top: 0;
    }
}
.download {
    min-width: 150px;
    height: 50px;
    border-radius: 6px;
    background-color: #066;
    padding: .6rem;
    color: $color-primary;
    justify-self: center;
    text-decoration: none;
}

