.about{
    // height: 100vh ;
	// display: grid;
    // grid-template-rows: 40% 10% 10% 20% 10%;

    text-align: center;
    .profile-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
        img {
            width: 60%;
            border-radius: 50%;
            box-shadow: 0px 0px 22px 34px #07313169;
        }}
    .about-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #07313169;
        box-shadow: 0px 0px 22px 34px #07313179;
    }   
    .job-title {
        span {
            justify-self: end;
        }
        h2 {
            border-bottom: none;
            margin-bottom: 2rem;
        }
    }
    .download {
        width: 150px;
        height: 50px;
        margin-top: 2rem;
        border-radius: 6px;
        background-color: #066;
        padding: .6rem;
        color: $color-primary;
        justify-self: center;
        align-self: center;
        text-decoration: none;
    }
}
