.panel {
	color: $color-primary;
	font-family: $font-base;
	border-radius: 30px;
	display: grid;
	grid-template-areas: 
		"header"
		"main"
		"nav"
		"header";
	grid-row-gap: 4rem;

	.skill-icon {
		width: 1rem;
	}
	.about,
	.skills,
	.education {
		padding: 8vw 4vw;
		display: flex;
		flex-direction: column;
	}
	.skills,
	.education {
		margin: 0 0 5% 0;
	}
	@import 'main-about';
	.about {
		grid-area: about;
	}
	.skills {
		grid-area: skills;
	}
	.education {
		grid-area: education;
	}
}